<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32010">
        <setting label="32011" type="lsep"/>
        <setting label="32012" type="bool" id="stop_playback_duration" default="true"/>
        <setting label="32013" type="slider" id="stop_playback_mins" visible="eq(-1,true)" default="240" range="1,1,720" option="int"/>
        <setting label="32014" type="bool" id="stop_playback_after" default="true"/>
        <setting label="32015" type="time" id="stop_playback_time" visible="eq(-1,true)" default="02:00"/>        
        <setting label="32016" type="lsep"/>
        <setting label="32012" type="bool" id="stop_playlist_time" default="true"/>
        <setting label="32013" type="slider" id="stop_playlist_mins" visible="eq(-1,true)" default="60" range="1,1,720" option="int"/>
        <setting label="32017" type="bool" id="stop_playlist_videos" default="true"/>
        <setting label="32018" type="slider" id="stop_playlist_count" visible="eq(-1,true)" default="10" range="3,1,100" option="int"/>
        <setting label="32019" type="lsep"/>
        <setting label="32020" type="slider" id="detect_playlist_minimum" default="2" range="1,1,10" option="int"/>
        <setting label="32021" type="slider" id="detect_playlist_gap" default="10" range="1,1,60" option="int"/>
    </category>
    <category label="32051">
        <setting label="32061" type="lsep"/>
        <setting label="32062" type="labelenum" id="action_1" lvalues="32063|32064|32065|32066|32067|32068|32069|32070|32071|32072|32073|32074"/>
        <setting label="32075" type="action" visible="eq(-1,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 1, Set)"/>
        <setting label="32076" type="text" id="action_rules_group_1" enable="false" visible="eq(-2,8)" default=""/> 
        <setting label="32077" type="action" visible="!eq(-1,)&eq(-3,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 1, Rules)"/>
        <setting label="32078" type="text" id="action_rules_mask_1" enable="false" visible="!eq(-2,)&eq(-4,8)" default="[I]All[/I]"/>        
        <setting label="32079" type="text" id="action_command_1" enable="true" visible="eq(-5,9)" default=""/>        
        <setting label="32080" type="slider" id="action_warn_1" default="10" range="0,10,30" option="int"/>
        <setting label=""      type="lsep"/>
        <setting label="32081" type="lsep"/>
        <setting label="32082" type="labelenum" id="action_timer_freq_1" lvalues="32083|32084|32085|32086|32087"/>
        <setting label="32088" type="time" id="action_time_1" visible="!eq(-1,0)" default="02:00"/>
        <setting label="32089" type="slider" id="action_period_1" visible="eq(-2,2)" default="1" range="1,1,7" option="int"/>
        <setting label="32090" type="labelenum" id="action_day_1" visible="eq(-3,3)" lvalues="32091|32092|32093|32094|32095|32096|32097"/>
        <setting label="32098" type="slider" id="action_date_1" visible="eq(-4,4)" default="1" range="1,1,31" option="int"/>
        <setting label="32099" type="bool" id="action_if_playing_1" visible="!eq(-5,0)" default="true"/>
        <setting label="32100" type="lsep"/>
        <setting label="32101" type="bool" id="action_file_enabled_1" default="false"/>
        <setting label="32102" type="bool" id="action_file_unavailable_1" visible="!eq(-1,false)" default="false"/>
        <setting label="32103" type="file" id="action_file_1" visible="!eq(-2,false)" default=""/>
        <setting label=""      type="text" id="file_time_1" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="file_reboot_1" enable="false" visible="false" default=""/>
        <setting label="32104" type="lsep"/>
        <setting label="32105" type="bool" id="action_addon_enabled_1" default="false"/>
        <setting label="32106" type="addon" id="action_addon_1" visible="eq(-1,true)" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label=""      type="text" id="addon_name_1" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="addon_version_1" enable="false" visible="false" default=""/>
    </category>
    <category label="32052">
        <setting label="32061" type="lsep"/>
        <setting label="32062" type="labelenum" id="action_2" lvalues="32063|32064|32065|32066|32067|32068|32069|32070|32071|32072|32073|32074"/>
        <setting label="32075" type="action" visible="eq(-1,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 2, Set)"/>
        <setting label="32076" type="text" id="action_rules_group_2" enable="false" visible="eq(-2,8)" default=""/> 
        <setting label="32077" type="action" visible="!eq(-1,)&eq(-3,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 2, Rules)"/>
        <setting label="32078" type="text" id="action_rules_mask_2" enable="false" visible="!eq(-2,)&eq(-4,8)" default="[I]All[/I]"/>        
        <setting label="32079" type="text" id="action_command_2" enable="true" visible="eq(-5,9)" default=""/>        
        <setting label="32080" type="slider" id="action_warn_2" default="10" range="0,10,30" option="int"/>
        <setting label=""      type="lsep"/>
        <setting label="32081" type="lsep"/>
        <setting label="32082" type="labelenum" id="action_timer_freq_2" lvalues="32083|32084|32085|32086|32087"/>
        <setting label="32088" type="time" id="action_time_2" visible="!eq(-1,0)" default="02:00"/>
        <setting label="32089" type="slider" id="action_period_2" visible="eq(-2,2)" default="1" range="1,1,7" option="int"/>
        <setting label="32090" type="labelenum" id="action_day_2" visible="eq(-3,3)" lvalues="32091|32092|32093|32094|32095|32096|32097"/>
        <setting label="32098" type="slider" id="action_date_2" visible="eq(-4,4)" default="1" range="1,1,31" option="int"/>
        <setting label="32099" type="bool" id="action_if_playing_2" visible="!eq(-5,0)" default="true"/>
        <setting label="32100" type="lsep"/>
        <setting label="32101" type="bool" id="action_file_enabled_2" default="false"/>
        <setting label="32102" type="bool" id="action_file_unavailable_2" visible="!eq(-1,false)" default="false"/>
        <setting label="32103" type="file" id="action_file_2" visible="!eq(-2,false)" default=""/>
        <setting label=""      type="text" id="file_time_2" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="file_reboot_2" enable="false" visible="false" default=""/>
        <setting label="32104" type="lsep"/>
        <setting label="32105" type="bool" id="action_addon_enabled_2" default="false"/>
        <setting label="32106" type="addon" id="action_addon_2" visible="eq(-1,true)" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label=""      type="text" id="addon_name_2" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="addon_version_2" enable="false" visible="false" default=""/>
    </category>
    <category label="32053">
        <setting label="32061" type="lsep"/>
        <setting label="32062" type="labelenum" id="action_3" lvalues="32063|32064|32065|32066|32067|32068|32069|32070|32071|32072|32073|32074"/>
        <setting label="32075" type="action" visible="eq(-1,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 3, Set)"/>
        <setting label="32076" type="text" id="action_rules_group_3" enable="false" visible="eq(-2,8)" default=""/> 
        <setting label="32077" type="action" visible="!eq(-1,)&eq(-3,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 3, Rules)"/>
        <setting label="32078" type="text" id="action_rules_mask_3" enable="false" visible="!eq(-2,)&eq(-4,8)" default="[I]All[/I]"/>        
        <setting label="32079" type="text" id="action_command_3" enable="true" visible="eq(-5,9)" default=""/>        
        <setting label="32080" type="slider" id="action_warn_3" default="10" range="0,10,30" option="int"/>
        <setting label=""      type="lsep"/>
        <setting label="32081" type="lsep"/>
        <setting label="32082" type="labelenum" id="action_timer_freq_3" lvalues="32083|32084|32085|32086|32087"/>
        <setting label="32088" type="time" id="action_time_3" visible="!eq(-1,0)" default="02:00"/>
        <setting label="32089" type="slider" id="action_period_3" visible="eq(-2,2)" default="1" range="1,1,7" option="int"/>
        <setting label="32090" type="labelenum" id="action_day_3" visible="eq(-3,3)" lvalues="32091|32092|32093|32094|32095|32096|32097"/>
        <setting label="32098" type="slider" id="action_date_3" visible="eq(-4,4)" default="1" range="1,1,31" option="int"/>
        <setting label="32099" type="bool" id="action_if_playing_3" visible="!eq(-5,0)" default="true"/>
        <setting label="32100" type="lsep"/>
        <setting label="32101" type="bool" id="action_file_enabled_3" default="false"/>
        <setting label="32102" type="bool" id="action_file_unavailable_3" visible="!eq(-1,false)" default="false"/>
        <setting label="32103" type="file" id="action_file_3" visible="!eq(-2,false)" default=""/>
        <setting label=""      type="text" id="file_time_3" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="file_reboot_3" enable="false" visible="false" default=""/>        
        <setting label="32104" type="lsep"/>
        <setting label="32105" type="bool" id="action_addon_enabled_3" default="false"/>
        <setting label="32106" type="addon" id="action_addon_3" visible="eq(-1,true)" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label=""      type="text" id="addon_name_3" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="addon_version_3" enable="false" visible="false" default=""/>
    </category>
    <category label="32054">
        <setting label="32061" type="lsep"/>
        <setting label="32062" type="labelenum" id="action_4" lvalues="32063|32064|32065|32066|32067|32068|32069|32070|32071|32072|32073|32074"/>
        <setting label="32075" type="action" visible="eq(-1,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 4, Set)"/>
        <setting label="32076" type="text" id="action_rules_group_4" enable="false" visible="eq(-2,8)" default=""/> 
        <setting label="32077" type="action" visible="!eq(-1,)&eq(-3,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 4, Rules)"/>
        <setting label="32078" type="text" id="action_rules_mask_4" enable="false" visible="!eq(-2,)&eq(-4,8)" default="[I]All[/I]"/>        
        <setting label="32079" type="text" id="action_command_4" enable="true" visible="eq(-5,9)" default=""/>        
        <setting label="32080" type="slider" id="action_warn_4" default="10" range="0,10,30" option="int"/>
        <setting label=""      type="lsep"/>
        <setting label="32081" type="lsep"/>
        <setting label="32082" type="labelenum" id="action_timer_freq_4" lvalues="32083|32084|32085|32086|32087"/>
        <setting label="32088" type="time" id="action_time_4" visible="!eq(-1,0)" default="02:00"/>
        <setting label="32089" type="slider" id="action_period_4" visible="eq(-2,2)" default="1" range="1,1,7" option="int"/>
        <setting label="32090" type="labelenum" id="action_day_4" visible="eq(-3,3)" lvalues="32091|32092|32093|32094|32095|32096|32097"/>
        <setting label="32098" type="slider" id="action_date_4" visible="eq(-4,4)" default="1" range="1,1,31" option="int"/>
        <setting label="32099" type="bool" id="action_if_playing_4" visible="!eq(-5,0)" default="true"/>
        <setting label="32100" type="lsep"/>
        <setting label="32101" type="bool" id="action_file_enabled_4" default="false"/>
        <setting label="32102" type="bool" id="action_file_unavailable_4" visible="!eq(-1,false)" default="false"/>
        <setting label="32103" type="file" id="action_file_4" visible="!eq(-2,false)" default=""/>
        <setting label=""      type="text" id="file_time_4" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="file_reboot_4" enable="false" visible="false" default=""/>        
        <setting label="32104" type="lsep"/>
        <setting label="32105" type="bool" id="action_addon_enabled_4" default="false"/>
        <setting label="32106" type="addon" id="action_addon_4" visible="eq(-1,true)" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label=""      type="text" id="addon_name_4" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="addon_version_4" enable="false" visible="false" default=""/>
    </category>
    <category label="32055">
        <setting label="32061" type="lsep"/>
        <setting label="32062" type="labelenum" id="action_5" lvalues="32063|32064|32065|32066|32067|32068|32069|32070|32071|32072|32073|32074"/>
        <setting label="32075" type="action" visible="eq(-1,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 5, Set)"/>
        <setting label="32076" type="text" id="action_rules_group_5" enable="false" visible="eq(-2,8)" default=""/> 
        <setting label="32077" type="action" visible="!eq(-1,)&eq(-3,8)" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 5, Rules)"/>
        <setting label="32078" type="text" id="action_rules_mask_5" enable="false" visible="!eq(-2,)&eq(-4,8)" default="[I]All[/I]"/>        
        <setting label="32079" type="text" id="action_command_5" enable="true" visible="eq(-5,9)" default=""/>        
        <setting label="32080" type="slider" id="action_warn_5" default="10" range="0,10,30" option="int"/>
        <setting label=""      type="lsep"/>
        <setting label="32081" type="lsep"/>
        <setting label="32082" type="labelenum" id="action_timer_freq_5" lvalues="32083|32084|32085|32086|32087"/>
        <setting label="32088" type="time" id="action_time_5" visible="!eq(-1,0)" default="02:00"/>
        <setting label="32089" type="slider" id="action_period_5" visible="eq(-2,2)" default="1" range="1,1,7" option="int"/>
        <setting label="32090" type="labelenum" id="action_day_5" visible="eq(-3,3)" lvalues="32091|32092|32093|32094|32095|32096|32097"/>
        <setting label="32098" type="slider" id="action_date_5" visible="eq(-4,4)" default="1" range="1,1,31" option="int"/>
        <setting label="32099" type="bool" id="action_if_playing_5" visible="!eq(-5,0)" default="true"/>
        <setting label="32100" type="lsep"/>
        <setting label="32101" type="bool" id="action_file_enabled_5" default="false"/>
        <setting label="32102" type="bool" id="action_file_unavailable_5" visible="!eq(-1,false)" default="false"/>
        <setting label="32103" type="file" id="action_file_5" visible="!eq(-2,false)" default=""/>
        <setting label=""      type="text" id="file_time_5" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="file_reboot_5" enable="false" visible="false" default=""/>        
        <setting label="32104" type="lsep"/>
        <setting label="32105" type="bool" id="action_addon_enabled_5" default="false"/>
        <setting label="32106" type="addon" id="action_addon_5" visible="eq(-1,true)" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label=""      type="text" id="addon_name_5" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="addon_version_5" enable="false" visible="false" default=""/>
    </category>    
    <category label="32150">
        <setting label="32151" type="lsep"/>
        <setting label="32152" type="slider" id="sleep_inc" default="15" range="5,5,30" option="int"/>
        <setting label="32153" type="slider" id="sleep_max" default="60" range="15,15,120" option="int"/>
    </category>
    <category label="32300">
        <setting label="32301" type="lsep"/>
        <setting label="32302" type="text" id="trakt_id" enable="true" visible="true" default=""/>
        <setting label="32303" type="text" id="trakt_secret" enable="true" visible="true" default=""/>
        <setting label="32304" type="bool" id="trakt_clear" enable="true" visible="true" default="true"/>
        <setting label=""      type="lsep"/>
        <setting label="32305" type="lsep"/>
        <setting label="32306" type="bool" id="refresh_rules" enable="true" visible="true" default="true"/>
        <setting label="32307" type="slider" id="command_delay" default="15" range="0,1,60" option="int"/>
        <setting label="32308" type="bool" id="disable_vpn_filter" enable="true" visible="true" default="true"/>
        <setting label="32309" type="action" visible="true" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 0, Video)"/>
        <setting label="32310" type="text" id="video_mask" enable="false" visible="true" default="[I]All[/I]"/>  
        <setting label="32311" type="action" visible="true" option="close" action="RunScript(special://home/addons/service.zomboided.tools/filtering.py, 0, Emby)"/>
        <setting label="32312" type="text" id="emby_mask" enable="false" visible="true" default="[I]All[/I]"/>  
    </category>
    <category label="32350">
        <setting label="32351" type="lsep"/>
        <setting label="32352" type="bool" id="enable_debug" default="false"/>
        <setting label="32353" type="text" id="boot_time" enable="false" visible="true" default="Last restart time is unknown"/>
        <setting label=""      type="lsep"/>
        <setting label="32354" type="lsep"/>
        <setting label="32355" type="slider" id="addon_check" default="60" range="60,10,1440" option="int"/>
        <setting label="32356" type="time" id="addon_check_start" default="00:00"/>
        <setting label="32357" type="time" id="addon_check_end" default="23:59"/>
        <setting label="32358" type="slider" id="file_check" default="60" range="60,10,1440" option="int"/>
        <setting label="32359" type="time" id="file_check_start" default="00:00"/>
        <setting label="32360" type="time" id="file_check_end" default="23:59"/>
        <setting label="32361" type="slider" id="refresh_check" default="60" range="60,10,1440" option="int"/>   
        <setting label=""      type="lsep"/>
    </category>
</settings>
